.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.child{
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: 10px;
  /* border:1px solid red ; */
  border-radius: 20px;
  width:200px;
   margin-top:10;
   margin:auto;
   padding: 10px;
   

}
.child:hover{
  background-color:#9ACD32;
  color:white;
}


.deletebtn{

  height: 10px;
  width:5px;
  margin-right: 20px;
  margin-top: 20px;
  /* background-color: white; */
  border: none;

}
.deletebtn:hover{
  background-color: #9ACD32;
}
body {
  background-image: url(https://media.istockphoto.com/photos/cityscape-songpagu-skyscrapers-lotte-world-tower-at-night-seoul-picture-id613254398?k=20&m=613254398&s=612x612&w=0&h=-RPIApLHB8OSvxmCoGjI6mcDp1mpbF7E2FeLX4jsX-Q=);
  background-size: cover;
  background-repeat: no-repeat;
}